.Welcome-one {
  transition: all 500ms ease;
}

.Welcome-two {
  margin-top: -200px;
  margin-right: -500vw;
  transition: margin-left 500ms ease,
              margin-right 500ms ease;
}

.slide-out {
  margin-left: -500vw;
  margin-right: 500vw;
}

.slide-in {
  margin-right: 0vw;
}

.welcome-title {
  margin-top: 0;
  padding-top: 200px;
}

.new-player-btn,
.returning-player-btn,
.returning-player-select-btn,
.confidence-select-btn {
  background: transparent;
  background-color: rgba(245, 245, 245, 0.2);
  border: 2px solid rgba(245, 245, 245, 0.3);
  border-radius: 12px;
  display: block;
  font-size: 1.5rem;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
  width: 300px;

  &:hover {
    background-color: rgba(245, 245, 245, 0.5);
    cursor: pointer;
  }
}

.new-player-input {
  background: transparent;
  background-color: rgba(245, 245, 245, 0.2);
  border: 2px solid rgba(245, 245, 245, 0.3);
  border-radius: 12px;
  box-sizing: border-box;
  display: block;
  font-size: 1.5rem;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
  padding-left: 10px;
  width: 300px;
}

.new-player-input-back-btn,
.new-player-input-forward-btn {
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-size: 3rem;
  height: 70px;
  line-height: 10px;
  outline: none;
  width: 70px;

  &:hover {
    background-color: rgba(245, 245, 245, 0.2);
    border: 2px solid rgba(245, 245, 245, 0.3);
    border-radius: 12px;
    cursor: pointer;
  }
}

.confidence-select-title {
  margin-top: -100px;
}

.margin-remove {
  margin-top: 0;
}

